<section data-name="about" id="about" class="py-20 bg-black">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-12 items-center">
            <div data-name="about-image" class="rounded-lg overflow-hidden">
                <img src="images/dody.jpg" alt="Photographer" class="w-full h-[500px] object-cover" />
            </div>
            <div data-name="about-content" class="text-white">
                <h2 class="text-3xl font-bold mb-6">About Me</h2>
                <p class="mb-6">
                    I’m a Slovak photographer living in the capital little-big city of this beautiful
                    country.
                </p>
                <p class="mb-6">
                    I’ve been photographing many things in my life so far, later I specialized to event
                    photography: backstage, concerts and sports.
                </p>
                <p class="mb-6">
                    In my free time I do a lot of hiking and landscape photography. My main subject is
                    coffee in the nature so together with my gear I carry my “kotyogó” with me all the
                    time.
                </p>
                <div class="flex space-x-6">
                    <a href="https://www.instagram.com/ketyidody/" target={"_blank"} class="text-gray-400 hover:text-white text-2xl">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="https://www.facebook.com/jozef.ketyi" target={"_blank"} class="text-gray-400 hover:text-white text-2xl">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a href="https://500px.com/ketyidody" target={"_blank"} class="text-gray-400 hover:text-white text-2xl">
                        <i class="fab fa-500px"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
